.index__header{
    display: flex;
    justify-content: center;

    h1{
        position: unset;
        left: unset;
    }
}

.location__banner{
    background-color: $location__banner--background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-grey;
    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
    .location__icon{
        margin-right: 20px;
        margin-left: -30px;
    }
}

.explore__section
{
    padding: 10px 5% 50px 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-grey;
    h2{
        font-family: $font-text;
        width: 80%;
        margin-bottom: 0;
    }
    p {
        color: $grey;
        width: 100%;
        font-size: 1.15em;
        margin-bottom: 30px;
    }
    .button--big{
        padding:15px 20px;
    }
}

.functioning__section{
    margin: 40px 5% 60px 5%;
    @include tablets-desktops{
        margin: 40px 10% 60px 10%;
    }
    

    h2{
        font-family: $font-text;
    }

    .functioning__cards__bloc{
        padding-left: 10px;
        @include tablets-desktops {
            display: flex ;
            justify-content: space-between;
        }

        .functioning__card{
            display: flex;
            align-items: center;
            background-color: $background-grey;
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 10px 0px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            transition: 300ms;
            &:hover{
                background-color: #f3f1ff;
                i{
                    color: $color-primary;
                }
                
            }
            @include tablets-desktops {
                width: 30% ;
            };

            span{
                margin-left:-10px ;
                margin-right: 15px;
                background-color: $color-primary;
                border-radius: 20px;
                padding: 2px 7px;
                color: white;
            }

            i{
                margin: 0 5px;
                font-size: 1.1em;
                color: $grey;
                transition: 300ms;
            }

            p{
                margin-left: 10px;
                font-size: 1.1em;
            }
        }
    }
}

.restaurants__section {
    padding: 40px 5%;
    background-color: $background-grey;
    @include tablets-desktops {
        display: flex ;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 10%;
    }

    h2{
        font-family: $font-text;
        width: 100%;
    }

    a{
        
        @include tablets-desktops {
            width: 47%;
            margin-bottom: 30px;
        }
    }

    .restaurant__card{
    background-color:white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    margin-bottom: 20px;
    transition: 300ms;

    @include tablets-desktops {
        margin-bottom: 0;
    }
    
        img {
            width: 100%;
            height: 175px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
        span{
            position: absolute;
            top: 13px;
            right: 13px;
            background-color: $color-tertiary;
            border-radius: 3px;
            padding: 5px 10px;
            color: darken($color-tertiary, 40%);
        }
        &__description{
            display: flex;

            .restaurant__label{
                width:80%;

                h3{
                    margin: 10px 0 3px 15px;
                }
                p{
                    margin: 5px 0px 20px 15px;
                }
            }
            i{
                font-size: 1.5em;
            }
        }

    }
}

.index__footer{
    @include tablets-desktops{
        padding-right: 10%;
        padding-left:10%;
    }
}

/* loader animation*/

.spinner {
    height: 100%;
    background: white;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    animation: spinner 2s forwards;
    z-index: 3;

    &__arcs {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 10px solid;
        border-color: transparent $color-primary transparent $color-secondary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: spinner-arcs 2s;
        z-index: 4;

        &--small{
            height: 30px;
            width: 30px;
            border: 10px solid;
        border-color: $color-tertiary transparent $color-tertiary transparent ;
        border-radius: 50%;
        }
    }
    
}

@keyframes spinner {
    0% {
        opacity: 0.9; 
    }
    70%{
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }
@keyframes spinner-arcs {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
  }
/* heart animation*/

.restaurant__card__description{

    .heart{
        position: relative;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        .fas.fa-heart{
            background: linear-gradient($color-primary,$color-secondary);
            -webkit-background-clip: text;
            color: transparent;
            transform: scale(0);
            transform-origin: bottom;
            transition: 0.3s;
            position: relative;
            left: -25px;
            z-index: 1;
            
        }
        .far.fa-heart{

            transition: 0.5s;
            z-index:2;
            &:hover{
                opacity: 0;
            }
            
            &:hover + .fas.fa-heart{
                transform: scale(1);
                
            }
        }   
    }
    
}